/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-size: 0.938rem;
  background-color: #fff;
  color: hsl(228, 15%, 50%);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 100;
  transition: 0.4s;
}

.nav__img {
  width: 20px;
  height: 20px;
}

.nav {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: hsl(228, 57%, 28%);
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  font-weight: 500;
  transition: 0.3s;
  margin-left: 5rem;
}

.nav__logo i {
  font-size: 1rem;
}

.nav__logo:hover {
  color: hsl(228, 66%, 53%);
}

@media screen and (min-width: 365px) {
  .container {
    padding: auto;
  }

  .nav__logo {
    margin-left: 1rem;
  }
}

@media screen and (min-width: 200px) {
  .nav__logo {
    margin-left: 1rem;
  }
}

@media screen and (min-width: 475px) {
  .nav__logo {
    margin-left: 2rem;
  }
}
@media screen and (min-width: 1000px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}
/* For large devices */
@media screen and (min-width: 1023px) {
  .nav {
    height: 3.5rem;
  }

  .nav__logo {
    margin-left: 5rem;
  }
}

#form {
  width: 300px;
  margin: 20vh auto 0 auto;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 4px;
  font-size: 12px;
}

#form h1 {
  color: #0f2027;
  text-align: center;
}

#form button {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  color: white;
  background-color: hsl(228, 66%, 53%);
  border: none;
  border-radius: 4px;
}

.input-control {
  display: flex;
  flex-direction: column;
}

.input-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  padding: 10px;
  width: 100%;
}

.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}

.text__center {
  text-align: center;
}

.error-message {
  background-color: #f2dede;
  font-size: 9px;
  height: 13px;
  border: 1px solid #ebccd1;
  color: #a94442;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  text-align: center;
}

.success-message {
  background-color: #2ecc71;
  color: white;
  font-size: 9px;
  height: 13px;
  border: 1px solid;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  text-align: center;
}

.back-button {
  padding: 4px 8px;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  background-color: hsl(228, 66%, 53%);
  border-radius: 4px;
  text-align: center;
}
